@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');


body {
    font-family: 'Oswald', sans-serif;

}

.success-background {
  /* background-image: url('/logo.png'); */
  background-color: #18327a;
}

.success-container {
  min-width:300px;
  width:500px;
  padding:0;
  margin: auto;
  min-height:500px;
  border-radius: 20px;
  background-color: white;
} 

.text {
  min-width:300px;
  width:500px;
  padding:0;


}

.mail {
  width:250px;
  position:absolute;
  left:640px;
  z-index: 100;
}

.success-container2 {
  min-width:300px;
  width:500px;
  margin: auto;
  min-height:200px;
  border-radius: 20px 20px 0 0;
  background-color: #254dba;
} 

.checkout-fields {
  width:300px;
}

.first-nav-container {
    /* padding: 0 150px; */
    display:flex;
    width:100%;
    justify-content: center;
 
    min-height: 70px;
}

.main-field{
    width:702px;
    border:3px solid #007bff;
    border-radius:15px;
    margin-top:10px;
}

.search-button{
  position:relative;
  z-index:10;
  border-radius:15px;
  right:40px;
  margin-top:10px;

}

.second-nav-link {
  text-decoration: none;
  color:black;
  text-align: center;

}

.blue-square {
  background-color: #007bff;
  min-width:100px;
  height:50px;
}

.first-banner {
    
    background-color: #eff0f3;
    padding:auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.nav-button {
    background:none;
    border:none;
    text-decoration: none;
    color:#52555b;
}

.logo {
    height: 70px;
    margin: 10px 0px;
    width: 134px;
}

.banner-list {
  list-style: none;
  list-style-type: none;
  margin:0;
}

.banner-list .li {
  display: inline;
  margin: 0 10px;
  padding:10px;
}

.banner-list .li:hover {
  background-color: white;
  color:#007bff;
}



.computer-dropdown {
  min-width:80%;
  height:1000px;
  position:absolute;
  z-index:1000;
  background-color: white;
  display: none;
  margin:auto;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  right:150px;
}

.hardware-dropdown {
  min-width:80%;
  height:1000px;
  position:absolute;
  z-index:1000;
  background-color: white;
  display: none;
  margin:auto;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  right:150px;
}

.parts-dropdown {
  min-width:80%;
  height:100px;
  position:absolute;
  z-index:1000;
  background-color: white;
  display: none;
  margin:auto;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  right:150px;
}

.accessories-dropdown {
  min-width:80%;
  height:1000px;
  position:absolute;
  z-index:1000;
  background-color: white;
  display: none;
  margin:auto;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  right:150px;
}

.network-dropdown {
  min-width:80%;
  height:100px;
  position:absolute;
  z-index:1000;
  background-color: white;
  display: none;
  margin:auto;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  right:150px;
}

.banner-list .list-1:hover .computer-dropdown {
  display: block;
}

.banner-list .list-3:hover .parts-dropdown {
  display: block;
}


.banner-list .list-5:hover .network-dropdown {
  display: block;
}

.banner-list .list-2:hover .hardware-dropdown {
  display: block;
}

.banner-list .list-4:hover .accessories-dropdown {
  display: block;
}

.banner {
    width:100%;
    background-color: #007bff;
    min-height: 40px;
    color: white;
}

.jumbotron {
    min-height: 500px;
    width:100%;
    background: url("/images/jumbotron.png");
    background-size: cover;  /* This will cover the entire div */
    background-position: center;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;
    color:white;
}

.buttons {
    height: 50px;
    width:216px;
    border: none;
    font-weight: 600;
    color:white;
    background-color: #007bff;
}

.brands-section {
    min-height:500px;
    width:100%;
    padding: 50px 100px;
    background-color: rgb(214, 214, 214);
}

.brand-block {
    width:250px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.5s;
}

.brand-block:hover {
    z-index:100;
    width: 270px;
}

.news-section {
    min-height:250px;
    width:100%;
    padding: 50px 100px;
    background-color:#007bff;
    color:white;
}

.deals-section {
    min-height:350px;
    width:100%;
    padding: 5px 0;
    background-color: rgb(214, 214, 214);
}

.inner-deals-section {
      min-height:350px;
    margin:10px;
    background-color: white;
    padding: 50px 60px;
}

.news-text {
    font-size: 50px;
}

.deals-block {
    width:480px;
    height:119px;
    border: 1px solid rgb(210, 210, 210);
    
    padding: 10px 0
}

.deals-link-container {
    width:100%;
}

.footer {
    width:100%;
    min-height: 400px;
    background-color: rgb(56, 56, 56);
    color:white;
    padding: 50px;
}

.deals-link {
    float:right;
    margin-top:10px;
    margin-right: 10px;
    color:gray;
}


.bg-left-half {
    position: relative; }
    .bg-left-half:before {
      position: absolute;
      width: 50%;
      height: 100%;
      z-index: -1;
      content: "";
      left: 0;
      top: 0;
      background-color: #f8f9fa; }
  
  .media-29101 img {
    margin-bottom: 20px; }
  
  .media-29101 h3 {
    font-size: 18px;
    font-weight: 900 !important; }
    .media-29101 h3 a {
      color: #6c757d; }
  
  .owl-2-style .owl-nav {
    display: none; }
  
  .owl-2-style .owl-dots {
    text-align: center;
    position: relative;
    bottom: -30px; }
    .owl-2-style .owl-dots .owl-dot {
      display: inline-block; }
      .owl-2-style .owl-dots .owl-dot span {
        display: inline-block;
        width: 15px;
        height: 3px;
        border-radius: 0px;
        background: #cccccc;
        -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
        -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
        transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
        margin: 3px; }
      .owl-2-style .owl-dots .owl-dot.active span {
        background: #007bff; }
      .owl-2-style .owl-dots .owl-dot:active, .owl-2-style .owl-dots .owl-dot:focus {
        outline: none; }

        
        #carouselExample {
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.carousel-inner .carousel-item {
  transition: transform 0.5s ease;
}

.carousel-inner .carousel-item img {
  width: 100%;
  height: 400px; /* Fixed height for images */
  object-fit: cover; /* Adjust as needed */
}

/* Adjustments for peeking images */
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev { 
  transform: translateX(0);
}

.carousel-inner .active.carousel-item-right,
.carousel-inner .active.carousel-item-left { 
  transform: translateX(25%);
}

.carousel-inner .carousel-item-next,
.carousel-inner .active.carousel-item-left,
.carousel-inner .carousel-item-prev.carousel-item-right,
.carousel-inner .active.carousel-item-right {
  transform: translateX(-25%);
}

.product-container {
    margin-bottom:10px;
}

.pagination {
  float:right;
}